<%= error_messages_for :song -%>
<% form_for [:admin, @song] do |f| -%>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title -%>
  </div>
  
  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_area :description, :rows => 20, :cols => 140, :class => 'wymeditor' -%>
  </div>
  
  <div class='field'>
    <%= f.label :artist -%>
    <%= f.text_field :artist -%>
  </div>
  
  <div class='field images_field'>
    <%= f.label :resource, 'Audio resource' %>
    <%= render :partial => "/shared/admin/resource_picker", :locals => {:f => f, :field => :resource_id, :resource => @song.resource, :description => "audio resource" } %>
	</div>
  
  <div class='field'>
    <%= f.label :show_download_link -%>
    <%= f.check_box :show_download_link -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions", :locals => {:f => f, :continue_editing => false} %>
<% end -%>
