<% content_for :body_content_title do %>
  <%=h @song.artist %> - <%=h @song.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <% if @song.resource %>
      <%= render :partial => 'player' %>
    <% else %>
      <%= t('.nofile') %>
    <% end %>
    <%= @song.description %>
    <% if @song.show_download_link && @song.resource %>
      <div style="text-align: center">
        <%= link_to t('.download'), @song.resource.url %><br/>
        <%= t('.download-advice') %>
      </div>
    <% end %>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="track">
      <% @songs.each do |song| %>
        <li id="track">
          <% if @song == song %>
           <b><%= link_to song.title, song_url(song) %></b>
          <% else %>
            <%= link_to song.title, song_url(song) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>
<%= render :partial => "/shared/content_page" %>
