<% form_for [:admin, @song] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @song,
          :include_object_name => true
        } %>  

  <div class='field'>
    <%= f.label :artist -%>
    <%= f.text_field :artist, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>
  
  <div class='field images_field'>
    <%= f.label :resource, 'Audio resource' %>
    <%= render :partial => "/shared/admin/resource_picker", :locals => {
          :f => f, 
          :field => :resource_id, 
          :resource => @song.resource, 
          :description => "audio resource" 
        } %>
	</div>
  
  <div class='field'>
    <%= f.label :show_download_link -%>
    <%= f.check_box :show_download_link -%>
  </div>

  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:description].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to part.to_s.titleize, "##{part}" %>
          </li>
        <% end %>
      </ul>

      <div id='page_part_editors'>
        <% [:description].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>
        <% end %>
      </div>
    </div>
  </div>  

  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.songs.song'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @song.title)
              } %>
<% end -%>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
